@import "variable";
@import "mixin";

.aboutme {
  @include article;
  width: 100%;

  &__container {
    align-items: center;

  }

  &__container {
  padding: calc(#{$padding} * 2);

  }

  &__caracter,
  &__moreinformation {
    color: rgb(192, 192, 192);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__profile {
    width: 90%;
    border-radius: 20px;
    margin: $margin; 
    margin-bottom: $margin-bottom;
 }

 
  &__email {
    text-align: center;
    display: flex;
    align-items: center;
  
  }

  &__linkcontact {
    text-align: center;
    align-items: center;
    justify-content: center;
  }



  &__contact {
    text-align: center;
    display: flex;
    align-items: center;
  }
}



 @media (min-width: 800px) {

  .aboutme {
    width: 80% ;
    

   &__profile {
     width: 30%;

   }

   &__profile {
     float: left;
   }
   &__contactlink {
     columns: 2;
   }
}


  
 }