@import "variable";

html {
   background-color: #ffffff;
}

h1 {
    text-align: center;
    margin: 0;
}

body {
    max-width:  1144px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    background-color: #FAFAD2;
    // padding-top: 2rem;
    margin-top: 0;
    
}