@import "variable";

html {
   background-color: #ffffff;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding: $padding;
}

body {
    max-width:  1350px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    background-color: #FAFAD2;
    padding-bottom: calc(#{$padding-bottom} * 2);
    margin-top: 0;
    
}