@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format(woff),
       url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2);


}


@font-face {
  font-family: Montserrat;
  src: url("../webroot/fonts/Montserrat-Bold.woff") format(woff),
       url("../webroot/fonts/AnyConv.com__Montserrat-Bold.woff2") format(woff2);


}

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff") format(woff),
       url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff2") format(woff2);


}


@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff") format(woff),
       url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff2") format(woff2);


}

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff),
       url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2);


}


@font-face {
  font-family:  Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Regular.woff") format(woff),
       url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff2);


}