

.project__footer {
    background-color: #FFDAB9;
    border-radius: 10px;
    margin: $margin;
    padding: calc(#{$padding} * 2);
    box-shadow: #BDB76B 10px 10px 10px;

    &__list {
        list-style: $list-style;
    }

    &__list--anchore {
        text-decoration: $text-decoration;
        color: transparent;
        padding: 1rem;
        
    }

    &__lists {
      display: flex;
    }

    &__list {
        margin: $margin;
        
    }

   
}

.github {
  background-image: url(../images/github.png);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 70px;

}

// .facebook {
//   background-image: url(../images/facebook.png);
//   background-repeat: no-repeat;
//   background-size: 50%;
//   width: 70px;
   
// }