@import "variable";

.blog__learning {
  width: 100%;

}

.hobby__music__image,
.hobby__footbal__image,
.hobby__fishing__image {
  width: 80%;
  margin: $margin;
  border-radius: 20px;
}

.projects__responsive__picture--image,
.projects__responsive__team--screenshoot,
.projects__responsive__edie--screaanshoot,
.projects__react__quote--screen,
.projects__react__movie--screen {
  width: 50%;
  margin: $margin;
}

.projects__responsive__team--screenshoot {

}

