@import "variable";

@mixin article {
    background-color: white;
    border-radius: 20px; 
    padding: $padding;
    margin: $margin;
    box-shadow: whitesmoke 10px 10px 10px;
}

@mixin fonts {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px

}

@mixin buttons {
    background-color: white;
    border: rgb(175, 175, 233) 1px solid;
    border-radius: 10px;
    padding: calc(#{$padding} /2);
    margin-left: $margin-left;
}