@import "variable";

.projects__react__quote,
.projects__react__movie {
    @include article
}

.projects__react__bottoms {
    @include article;
    padding-top: calc(#{$padding-top} / 2);
}


@media (min-width: 800px) {

    .projects__react__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}