@import "variable";


.projects__responsive__bottons {
  @include article;
  padding-top: calc(#{$padding} / 2);

}

.projects__responsive__picture,
.projects__responsive__team,
.projects__responsive__edie {
    @include article;
    margin: $margin;
    padding-bottom: $padding-bottom;
}

.projects__responsive__picture {
    // display: flex;
}

.projects__responsive__container {
    display: grid;
    
}

.projects__responsive__react {
    background-color: white;
    border: rgb(175, 175, 233) 1px solid;
    border-radius: 10px;
    padding: calc(#{$padding} /2);
    margin-left: $margin-left;
}