//color

$background_color : white;

// Margine

$margin: 1rem;
$margin-left: 1rem;
$margin-right: 1rem;
$margin-bottom: 1rem;
$margin-inline-start: 1rem;
$margin-inline-end: 1rem;
$margin-block-start: 1rem;
$margin-block-end: 1rem;
$margin-top: 1rem;

// Padding

$padding: 1rem;
$padding-left: 1rem;
$padding-right: 1rem;
$padding-bottom: 1rem;
$padding-inline-start: 1rem;
$padding-inline-end: 1rem;
$padding-block-start: 1rem;
$padding-block-end: 1rem;
$padding-top: 1rem;

// Position

$top: 1rem;
$left: 1rem;
$right: 1rem;
$bottom : 1rem;

//color

$color: rgba(14, 13, 13, 0.624);


// fonts

// List style

$list-style: none;

// Anchore

$text-decoration: none

