html {
  background-color: #FAFAD2; }

h1 {
  text-align: center; }

.aboutme {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  width: 100%; }
  .aboutme__container {
    align-items: center; }
  .aboutme__container {
    padding: calc(1rem * 2); }
  .aboutme__profile {
    width: 90%;
    border-radius: 20px;
    margin: 1rem;
    margin-bottom: 1rem; }
  .aboutme__email {
    text-align: center;
    display: flex;
    align-items: center; }
  .aboutme__linkcontact {
    text-align: center;
    align-items: center;
    justify-content: center; }
  .aboutme__contact {
    text-align: center;
    display: flex;
    align-items: center; }

@media (min-width: 800px) {
  .aboutme {
    width: 80%; }
    .aboutme__profile {
      width: 30%; }
    .aboutme__profile {
      float: left; }
    .aboutme__contactlink {
      columns: 2; } }

.frontend {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  width: 80%; }
  .frontend__container {
    list-style: none; }

.blog {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  width: 80%; }
  .blog__container {
    columns: 2; }

.blog__learning {
  width: 100%; }

.hobby__music__image,
.hobby__footbal__image,
.hobby__fishing__image {
  width: 80%;
  margin: 1rem;
  border-radius: 20px; }

.projects__responsive__picture--image,
.projects__responsive__team--screenshoot,
.projects__responsive__edie--screaanshoot,
.projects__react__quote--screen,
.projects__react__movie--screen {
  width: 50%;
  margin: 1rem; }

.hobby {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  padding-bottom: 1rem; }
  .hobby__music__title, .hobby__footbal__title, .hobby__fishing__title {
    margin: 1rem; }
  .hobby__music__paragraph, .hobby__footbal__paragraph, .hobby__fishing__paragraph {
    margin: 1rem; }

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }
  .aboutme {
    grid-column: 1 / span 3; }
  .blog {
    grid-column: 2 / span 2; }
  .projects__responsive {
    grid-column: 2 / span 2; }
  .projects__responsive__bottons {
    grid-column: 2 / span 1; }
  .projects__responsive__team {
    grid-column: 3 / span 1; }
  .projects__react {
    grid-column: 1;
    grid-row: 4; }
  .projects__react {
    grid-column: 1 / span 3; } }

.projects__react__quote,
.projects__react__movie {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem; }

.projects__react__bottoms {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  padding-top: calc(1rem / 2); }

.projects__react__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.projects__responsive__bottons {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  padding-top: calc(1rem / 2); }

.projects__responsive__picture,
.projects__responsive__team,
.projects__responsive__edie {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  margin: 1rem;
  padding-bottom: 1rem; }

.projects__responsive__container {
  display: grid; }

.projects__responsive__react {
  background-color: white;
  border: #afafe9 1px solid;
  border-radius: 10px;
  padding: calc(1rem /2);
  margin-left: 1rem; }
