@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2); }

@font-face {
  font-family: Montserrat;
  src: url("../webroot/fonts/Montserrat-Bold.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Bold.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Regular.woff2") format(woff2); }

@font-face {
  font-family: Poppins;
  src: url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff") format(woff), url("../webroot/fonts/fontspoppins_woff/Poppins-Bold.woff2") format(woff2); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff), url("../webroot/fonts/AnyConv.com__Montserrat-Regular.woff2") format(woff2); }

@font-face {
  font-family: Heebo;
  src: url("../webroot/fonts/fontsheebo_woof/Heebo-Regular.woff") format(woff), url("../webroot/fonts/fontsheebo_woof/Heebo-Bold.woff") format(woff2); }

html {
  background-color: #ffffff; }

h1 {
  text-align: center;
  margin: 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  padding: 1rem; }

body {
  max-width: 1350px;
  margin-inline-end: auto;
  margin-inline-start: auto;
  background-color: #FAFAD2;
  padding-bottom: calc(1rem * 2);
  margin-top: 0; }

.aboutme {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  width: 90%;
  padding: 0; }
  .aboutme__container {
    align-items: center; }
  .aboutme__container {
    padding: 1rem; }
  .aboutme__caracter, .aboutme__moreinformation {
    color: silver;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
  .aboutme__profile {
    width: 90%;
    border-radius: 20px;
    margin: 1rem;
    margin-bottom: 1rem; }
  .aboutme__email {
    text-align: center;
    display: flex;
    align-items: center; }
  .aboutme__linkcontact {
    text-align: center;
    align-items: center;
    justify-content: center; }
  .aboutme__contact {
    text-align: center;
    display: flex;
    align-items: center; }

@media (min-width: 800px) {
  .aboutme {
    width: 80%; }
    .aboutme__profile {
      width: 30%; }
    .aboutme__profile {
      float: left; }
    .aboutme__contactlink {
      columns: 2; } }

.frontend {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  width: 80%; }
  .frontend__container {
    list-style: none; }

.blog {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  width: 80%; }
  .blog__container {
    columns: 2; }

.blog__learning {
  width: 100%; }

.hobby__music__image,
.hobby__footbal__image,
.hobby__fishing__image {
  width: 80%;
  margin: 1rem;
  border-radius: 20px; }

.projects__responsive__picture--image,
.projects__responsive__team--screenshoot,
.projects__responsive__edie--screaanshoot,
.projects__react__quote--screen,
.projects__react__movie--screen,
.project__javascript__image,
.projects__javascript__images--image {
  width: 50%;
  margin: 1rem; }

.hobby {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  padding-bottom: 1rem; }
  .hobby__music__title, .hobby__footbal__title, .hobby__fishing__title {
    margin: 1rem; }
  .hobby__music__paragraph, .hobby__footbal__paragraph, .hobby__fishing__paragraph {
    margin: 1rem; }

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }
  .aboutme {
    grid-column: 1 / span 3; }
  .blog {
    grid-column: 2 / span 2; }
  .projects__responsive {
    grid-column: 2 / span 2; }
  .projects__responsive__bottons {
    grid-column: 2 / span 1; }
  .projects__responsive__team {
    grid-column: 3 / span 1; }
  .projects__react {
    grid-column: 1;
    grid-row: 4; }
  .projects__react,
  .project__javascript {
    grid-column: 1 / span 3; } }

.projects__react__quote,
.projects__react__movie {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px; }

.projects__react__bottoms {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  padding-top: calc(1rem / 2); }

@media (min-width: 800px) {
  .projects__react__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

.projects__responsive__bottons {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  padding-top: calc(1rem / 2); }

.projects__responsive__picture,
.projects__responsive__team,
.projects__responsive__edie {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  margin: 1rem;
  padding-bottom: 1rem; }

.projects__responsive__container {
  display: grid; }

.projects__responsive__react {
  background-color: white;
  border: #afafe9 1px solid;
  border-radius: 10px;
  padding: calc(1rem /2);
  margin-left: 1rem; }

.projects__javascript__bottoms {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px;
  padding-top: calc(1rem / 2); }

.projects__javascript__expressfood,
.projects__javascript__images {
  background-color: white;
  border-radius: 20px;
  padding: calc(1rem * 2);
  margin: 1rem;
  box-shadow: whitesmoke 10px 10px 10px; }

.projects__javascript__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.project__footer {
  background-color: #FFDAB9;
  border-radius: 10px;
  margin: 1rem;
  padding: calc(1rem * 2);
  box-shadow: #BDB76B 10px 10px 10px; }
  .project__footer__list {
    list-style: none; }
  .project__footer__list--anchore {
    text-decoration: none;
    color: transparent;
    padding: 1rem; }
  .project__footer__lists {
    display: flex; }
  .project__footer__list {
    margin: 1rem; }

.github {
  background-image: url(../images/github.png);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 70px; }

.facebook {
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 70px; }
